
.container_todo-rol{
    display: flex;
    align-items: center;
    padding: 40px 0;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    min-height: calc(100vh - 68px);
    background-color: var(--background-color);
}

.container_contenido-rol {
    width: 70%;
    padding: 30px;
    min-height: 600px;
    background-color: white;
    border-radius: 15px;
}

/* .container_buscar-id {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
} */

.container_informacion div,.container_buscar-id div {
    width: 90%;
}

.container_buscar-id,
.container_informacion{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    justify-items: center;
    margin-top: 20px;
}

.container-botones {
    display: flex;
    margin-top: 40px;
}

h1 {
    text-align: center;
    /* color: var(--color-rojo); */
}

.titulos {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 3px solid;
    width: 100%;
    /* color: var(--color-rojo); */
}

/* inputs */
/* inputs */
input[type=date],input[type=number],input[type=text],input[type=email],input[type=time] {
    width: 100%;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    height: 2rem;
    padding: 1rem 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    padding-right: 20px;
    padding-top: 4px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

select {
    width: 100%;
    /* border: 3px solid var(--secondary-color); */
    /* border: none; */
    border-radius: 50px;
    font-size: 14px;
    height: 2rem;
    padding: 0 1rem;
    font-size: 1.1rem;
    border: 2px solid var(--secondary-color);
}

input:focus,select:focus {
    outline: none;
}

.links {
    display: flex;
    gap: 10px;
}

.container-botones {
    display: flex;
    justify-content: center;
}

.formulario__btn {
    font-size: 1rem;
    border: 0;
    border-radius: 25px;
    height: 2.5rem;
    width: 10rem;
    color: white;
    background-color: var(--color-rojo);
    font-weight: bold;
    align-items: center;
    margin: 0 .8rem;
}

.formulario__btn i {
    display: none;
}

.formulario__btn:hover{
    cursor: pointer;
    background-color: rgb(177, 2, 22);
}

.cancelar {
    background-color: rgba(26,45,75,1);
}

.cancelar:hover {
    background-color: rgb(20, 35, 58);
}

@media (max-width: 540px) {
    .titulos {
        text-align: center;
    }

    .Logo span,.Extensiones-1 a{
        display: none;
    }

    .container_contenido-rol {
        width: 90%;
        padding: 10px;
    }
    
    .formulario__btn {
        font-size: .8rem;
    }
    
    .container_buscar-id,
    .container_informacion {
        /* display: grid; */
        grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
        /* justify-items: center; */
    }
}
