.contenedor-parla li{
    padding-left: 2em;
    list-style-position: inside;
    font-weight: bold;
}

.contenedor-parla p{
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    font-weight: normal;
}
.contenedor-parla h1{
    padding-bottom: 1em;
}
h2{
    padding-bottom: 1rem;
}
